.grid-container {
    display: flex; /* Sử dụng Flexbox */
    margin-left: 150px;
    margin-right: 150px;
}

.left-half {
    flex: 1; /* Khung trái sẽ chiếm một phần */
}

.right-half {
    flex: 1; /* Khung phải sẽ chiếm một phần */
    margin-left: 20px; /* Thêm một lề bên trái cho khung phải */
}
