.grid-container {
    display: flex; /* Sử dụng Flexbox */
    margin-left: 150px;
    margin-right: 150px;
}

.left-half {
    flex: 1; /* Khung trái sẽ chiếm một phần */
    /*  display: flex;Sử dụng Flexbox để căn chỉnh phần tử bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */
    flex-direction: column; /* Hiển thị các phần tử bên trong theo chiều dọc */
}

.right-half {
         flex: 8;
    margin-left: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fbfbfb;
}

